extends ../layout.pug

block content

  h2 Hello, #{contactName}!
  p.
    Your company available balance of #{currency} #{deposit}  is not enough to book new trip. 
  p Please consider to deposit or request #{companyName} admin to raise the credit limitation.
