extends ../layout.pug

block content

  h2 Congratulation, #{employeeName}!
  p.
    A reimbursement payment for your expense has been marked as Paid by your accountant. Detail:
  p Trip: #{tripName}
  p Payment date: #{paymentDate}
  p Payment amount: #{paymentAmount}

  p.text-center
    a(class='btn' href= expenseLink) Manage your expense now