extends ../layout.pug

block content

  h2 Well done, #{name}!
  p.
    Your expense claim has been sent to your accounting department successfully. 
  p Please wait for their process.
  p In the mean time, you can check the status any time.