extends ../layout.pug

block content

  h2 Hello #{name},

  p.
    We received a request to reset your password: #{email}. If this was you, click here to set a new one:

  p.text-center
    a(class='btn yellow' href= resetLink) Reset your password

  p.
    If you do not want to change your password or did not request this, just ignore or delete this message. The link will remain active for 1 hour, and only the most recent link is valid (if multiple resets were requested).
