extends ../layout.pug

block content

  h2 Well done, #{name}!
  
  p.
    Your trip request has been submitted successfully. Our system shall let you know immediately once the your request is approved or not.