extends ../layout.pug

block content

  h2 Hello #{name},
  p
    |Unfortunately, your trip request has been rejected with the following reason: 
    = " "
    i #{message}
  p
    |Please consider to 
    = " "
    a(class='link' href= editTripLink) edit your trip & submit again
    |, or it will be auto closed in 03 days.